@{
  Layout = "_Layout";
}

@using Registrar.Models;
@model List<Registrar.Models.Student>;

<h1>Students</h1>

@if (@Model.Count == 0)
{
  <h3>No students have been added yet!</h3>
}

<ul class="list-group">
@foreach (Student student in Model)
{
  <li class="list-group-item">
    @Html.ActionLink($"{student.Description}", "Details", new { id = student.StudentId })
    @if (student.Completed == true)
    {
      <span> - completed</span>;
    }
  </li>
}
</ul>

<button>@Html.ActionLink("Add new student", "Create")</button>
<button>@Html.ActionLink("Home", "Index", "Home")</button>
